<!doctype html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>CryptoCoin Tracker</title>
	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/jquery-1.10.2.min.js"></script>
	<script src="js/walletViewer.js"></script>
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="WalletCtrl">
	<p class="note">This tool shows the market value of your bitcoin wallet.</p>
	<ul class='exchange-list'>
		<li ng-repeat="exchange in exchangeList" class='exchange-list-item radio-button-list'>
			<input type="radio" name="exchange-selection" ng-model="$parent.selectedExchange" value="{{exchange}}" id="{{exchange}}">
			<label for="{{exchange}}">{{exchange}} (${{priceHistory[exchange][0][7] | number:2}})</label>
		</li>
	</ul>
	
	<table class="coin-info">
		<tr>
			<th>Coin</th>
			<th>Date</th>
			<th>Coins Owned</th>
			<th>Total Spent</th>
			<th>Market Value per Coin</th>
			<th>Total Market Value</th>
		</tr>
		<tr>
			<td>BTC on {{selectedExchange}}</td>
			<td></td>
			<td>{{totalCoins()}} {{$scope.selectedCoin}}</td>
			<td>${{totalSpent() | number:2}}</td>
			<td>${{valuePerCoinInUSD() | number:2}}</td>
			<td>${{totalMarketValueInUSD() | number:2}}</td>
		</tr>
		<tr>
			<td>--</td>
			<td>--</td>
			<td>--</td>
			<td>--</td>
			<td>--</td>
			<td>--{{selectedExchange}}</td>
		</tr>
		<tr ng-repeat="day in priceHistory[selectedExchange].data">
			<td></td>
			<td>{{day[0]}}</td>
			<td></td>
			<td></td>
			<td>${{day[7] | number:2}}</td>
			<td></td>
		</tr>
	</table>

</body>
</html>